{% load static %}


<section class="post_slider_area">
  <div class="post_slider_inner owl-carousel">

    {% if sliders %}

    {% for slider in sliders %}
    <div class="item">
      <div class="post_s_item">
        <div class="post_img">
          <img src="{{ slider.imageURL }}" height="480px" alt="{{ slider.title }}">
        </div>
        <div class="post_text">
          <a class="cat" href="">{{ slider.category.name }}</a>
          <a href="">
            <h4>{{ slider.title|truncatewords:7 }}</h4>
          </a>
          <p>{{ slider.overview|truncatewords:15 }}</p>
          <div class="date">
            <a href="">
              <i class="fa fa-calendar" aria-hidden="true"></i> 
              {{ slider.publish_date }}
            </a>
            <a href="">
              <i class="fa fa-comments-o" aria-hidden="true"></i>
              {{ slider.countreview.count }}
            </a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}

    {% endif %}


  </div>
</section>
